

.contato1 {
    display: flex;
    position: absolute;
    margin-right: 10%;
    margin: 10px 10px 10px 10px;
    width: 1000px;
    height: 360px;
    padding-right: 20px;
}
img {
    width: 5%;
}
.mensagem {
    display: flex;
    position: absolute;
    margin: 10px;
    margin-left: 40%;
    margin-right: 5%;
    width: 1000px;
    height: 360px;
    padding-left: 60px;
  }

  .form{
    position: relative;
    left: 400px;
    width: 450px;
    margin: auto;
    
  }

  .card{
    display: flex;
    padding: 10px;
    border-radius: 3%;
    background-color: rgba(245, 241, 241, 0.755);
    margin-right: 5%;
    width: 522px;
    height: 360px;
    margin-left: 500px;

}
.footer{
position: fixed;
}
.nav{
position: fixed;
}
@media(max-width:600px){

  .nav{
    position: fixed;
    width: 352px;
    height: 722px;
  }
  .footer{
    position: fixed;
    width: 352px;
    height: 722px;
  }
  .contato1{
    padding-left: 0px;
    padding-right: 0px;
    width: 340px;
    left: 0px;
    right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .card{
    padding-left: 2px;
    padding-right: 2px;
    right: 2px;
    margin-right: 2px;
    margin-left: 10px;
    width: 352px;
    height: 572px;
    left: 2px;
    margin-left: 0px;
     
    }
    .mensagem{
      height: 360px;
      padding-top: 280px;
        left: 2px;
      padding-left: 5px;
      width: 100%;
      margin: 2px;
      margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;


    } 
}
