.withimg {
    width: 100%;
    overflow:hidden;
    padding: 0px;
    margin: 0px;
   }
  
    #discover{
    position: relative;  
   }

img {
    width: 5%;
}

  #bttnimg{
  float: left;
  position: absolute;
  left: 40%;
  top:75%;
  max-width: 550px;
  color: white;
  text-decoration: none;
     }
     
     .lead {
         color: white;
              }
     .display-4{
        color: white;
            }
           img{
            position: relative;  
           }